MINERU_VERSION=3.4.4
MINERU_PORT=18000
MINERU_MODEL_SOURCE=modelscope
MINERU_TASK_RETENTION_SECONDS=86400
MINERU_TASK_CLEANUP_INTERVAL_SECONDS=300
MINERU_MAX_CONCURRENT_REQUESTS=1
MINERU_PROCESSING_WINDOW_SIZE=16
